@*
Copyright © 2017 SOFTINUX. All rights reserved.
Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@model SoftinuxBase.Barebone.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Not found";
}
<h1>Not found</h1>

<h2>Nothing was found at url @(Model.Url)</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}