.lock-box .avatar {
    width: 128px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}
.page-error-box {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}
.login-box {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.user-block {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 280px;
    line-height: 1.2;
}
.user-block .avatar {
    width: 128px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}
.user-block .avatar img {
    width: 100%;
    height: auto;
}
@media screen and (min-width: 640px) {
    .login-box {
        width: 360px;
    }
    .page-error-box {
        width: 480px;
    }
}